
<% if notice%>

<div class="alert alert-success alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3> <%= notice %> </h3>
</div>

<% end %>

<%= form_for(@new_position, :html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @new_position.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4>This position can't be saved:</h4>

      <ul>
        <% @new_position.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title, "New Position Title:", :class=>"control-label col-md-4"%>
    <div class="col-md-6">
      <%= f.text_field :title, :class=>"form-control"%>
    </div>
    <div class="actions form-group">
      <%= f.submit "Add", :class=>"btn btn-success col-md-2"%>
    </div>
  </div>

<% end %>
