<p id="notice"><%= flash[:notice] %></p>


<h1 class="page-header"><%= @position.title %></h1>

<div class="row">
  <div class="col-md-6 text-justify">
    <h3> Examinations for this position </h3>
    <ul class="list-group">
      <% @position.exams.order(:title).each do |exam|%>
        <li class="list-group-item">
          <%= exam.title %>

        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6 text-justify exams">
  <% if @epa %>
    <% if @epa.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
          <h4>"<%= @epa.exam.title %>" can't be assign:</h4>
          <ul>
            <% @epa.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

    <h3> Showing all Examinations </h3>
      <ul class="list-group">
        <% @exam_list.each do |exam|%>
          <li class="list-group-item"><font size=5><%=link_to '+', assign_path(@position, exam) %></font> <%= exam.title %></li>
        <% end %>
      </ul>
  </div>

</div>
<%= link_to 'Back', positions_path %>
