<p id="notice"><%= notice %></p>


<h1 class="page-header"><%= @position.title %></h1>

<div class="row">
  <div class="col-md-6 text-justify">
    <h3> Examinations for this position </h3>

    <% @position.exams.each do |pos|%>
      <%= pos.title %>
    <% end %>
  </div>

  <div class="col-md-6 text-justify exams">
    <h3> Showing all Examinations </h3>
      <ul class="list-group">
        <% Exam.all.each do |exam|%>
          <li class="list-group-item"><font size=5><%=link_to '+', assign_path(@position, exam) %></font> <%= exam.title %></li>
        <% end %>
      </ul>
  </div>

</div>
<%= link_to 'Back', positions_path %>
