
  <% if @applicant.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
<%= form_for @applicant, :html => {:multipart => true, :class=>"form-horizontal"} do |f| %>




  <div class="field col-md-3 text-center">
    <%= label_tag "Picture" %><br />
    <canvas id="myCanvas"></canvas>
    <input id="base64" type="hidden" value="" name="base64"/>
    <input id="imgName" type="hidden" value="" name="imgName"/>
    <input type='file' name = "applicant[image]" accept="image/*" 
    onchange="readURL(this);" id = "uploader" class="btn" />
  </div>

  <div class="col-md-6">

    <div class="field form-group">
      <%= f.label :lastname ,'Last Name' ,:class=>"control-label col-md-3"%>
      <div class="col-md-9">
        <%= f.text_field :lastname, :class=>"form-control" , :required=>true, :autofocus=>true%>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :firstname,'First Name ', :class=>"control-label col-md-3" %>
      <div class="col-md-9">
        <%= f.text_field :firstname, :class=>"form-control", :required=>true, :autofocus=>true%>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :middlename, 'Middle Name', :class=>"control-label col-md-3"%>
      <div class="col-md-9">
        <%= f.text_field :middlename, :class=>"form-control" %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :bday ,nil ,:class=>"control-label col-md-3"%>
      <div class="col-md-9">
        <%= f.date_select :bday, :start_year => Date.today.year - 15,
         :end_year => Date.today.year - 100 , :type=>"date"%>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :gender, :class=>"control-label col-md-3"%>
      <div class="col-md-9">
        <%= f.select(:gender, ["Male", "Female"], {:prompt => "Select gender"},
         :class=>"form-control", :required=>true) %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :highest_school_attainment, :class=>"control-label col-md-3"%>
      <div class="col-md-9">
        <%= f.select(:highest_school_attainment, ["Tertiary","Secondary"],
        {:prompt => "Select"}, :class=>"form-control" , :required=>true) %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label "School", :class=>"control-label col-md-3"%>
      <div class="col-md-9">
          <% options = [] %>
          <% School.all.each do |s|%>
            <%options << [s.school_with_acronym, s.id] %>
          <%end %>
          <%options << [ 'Or create a new one', 'new', :onclick => "show_add_new_shool();" ]%>
          <%= select_tag "school_id", options_for_select(options),
          :include_blank => "Select One", :id => "school", :required=>true,
          :class=> "form-control" %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :address , :class=>"control-label col-md-3"%>
      <div class="col-md-9">
        <%= f.text_area :address, :rows=>4, :cols=>40, :class=>"form-control", :required=>true %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :email_address, :class=>"control-label col-md-3" %>
      <div class="col-md-9">
        <%= f.text_field :email_address, :class=>"form-control", :type=>"email", :required=>true%>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :contact, :class=>"control-label col-md-3"%>
      <div class="col-md-9">
        <%= f.text_field :contact, :class=>"form-control", :type=>"tel"%>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :position_id, "Position", :class=>"control-label col-md-3"%>
      <div class="col-md-9">
      <%= f.collection_select(:position_id, Position.all, :id, :title,
        {:prompt=>"Select Position"}, :class=>"form-control", :required=>true)  %>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="actions col-md-2 col-md-offset-4">
      <%= f.submit :class=>"btn btn-default"%>
    </div>
  </div>

  <!-- New school -->
  <div id="modal-content" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Create new school</h3>
        </div>
        <div class="modal-body">
        <%= render 'new_school' %>
      </div>
    </div>
  </div>
<!-- end New School -->
<% end %>
</div>

<script type="text/javascript">

  $(window).load(function(){
    <% if @image_data != nil %>
      showPreview( "<%= @image_data %>" )
    <% elsif @applicant.image_name.nil? %>
      showPreview( <%="'#{image_path('new_applicant.png')}'"%> )
    <% elsif !File.exists?("#{RAILS_ROOT}/public/images/#{@applicant.image_name}") %>
      showPreview( <%="'#{image_path('404.jpg')}'"%> )
    <% else %>
    showPreview( <%="'#{image_path(@applicant.image_name)}'"%> )
    <% end %>
  });

  function readURL(input) {

    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {

        var canvas = document.getElementById('myCanvas');
        var context = canvas.getContext('2d');
        var x = 0;
        var y = 0;
        var width = 500;
        var height = 500;
        var imageObj = new Image();

        $('#imgName').val($('#uploader').val());

        imageObj.onload = function() {
          context.drawImage(imageObj, x, y, width, height);
          $('#base64').val(canvas.toDataURL());
        };
          imageObj.src = e.target.result;
        }
    };
    reader.readAsDataURL(input.files[0]);
  }

  function showPreview(path){
    var img = new Image();
    var can = document.getElementById('myCanvas');
    var ctx = can.getContext('2d');
    $('#imgName').val(<%= "'#{@applicant.image_name}'" %>);

    img.onload = function(){
      can.width = 500;
      can.height = 500;
      ctx.drawImage(img, 0, 0, can.width, can.height);
      $('#base64').val(can.toDataURL());
    }
    img.src = path;
  }


  function show_add_new_shool(){
    $('#modal-content').modal({
        show: true,
        backdrop: 'static',
        keyboard: false
    });
  };

  $('#modal-content').on('shown.bs.modal', function () {
    $('#new_school').attr("required");
    var ids = ["applicant_lastname", "applicant_firstname","applicant_middlename",
    "applicant_gender","applicant_highest_school_attainment","school", "applicant_address",
    "applicant_email_address", "applicant_contact", "applicant_position_id"];

    $("#new_school").focus();
    for(var i=0; i<ids.length; i++){
      $("#"+ids[i]).removeAttr("required");
    }
  });

</script>

<% if @create_school == "success" %>
  <script type="text/javascript">
    document.getElementById('school').value = <%= @school.id %>;
  </script>
<% end %>

<% if !@applicant.school.blank? %>
  <script type="text/javascript">
    document.getElementById('school').value = <%= @applicant.school.id %>;
  </script>
<% end %>
