<!-- Error -->
<% if @school.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

    <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <script type="text/javascript">
    $('#modal-content').modal({
      show: true,
      backdrop: 'static',
      keyboard: false
    });

    var ids = ["applicant_lastname", "applicant_firstname","applicant_middlename",
    "applicant_gender","applicant_highest_school_attainment","school", "applicant_address",
    "applicant_email_address", "applicant_contact", "applicant_position_id"];

    $("#new_school").focus();
    for(var i=0; i<ids.length; i++){
      $("#"+ids[i]).removeAttr("required");
    }

  </script>
<% end %>
<!-- end Error -->
<%= form_tag :action => 'create', :controller => 'applicants' do |s| %>
  <p>
    <%= label_tag "School Name" %>
    <%= text_field_tag :school_name, nil, :class => "form-control", :id => "new_school" %>
  </p>
  <p>
    <%= label_tag "Abbreviation" %>
    <%= text_field_tag :abbreviation, nil, :class => "form-control" %>
    </p>
</div>

<div class="modal-footer"> 
  <%= submit_tag "Cancel", :name => "cancel", :class => "btn", :id=>"btnCancel" %>
  <%= submit_tag "Create new school", :name => "new_school", :class => "btn btn-primary" %>
</div>
<% end %>


<script type="text/javascript">
  $('#btnCancel').click(function(){
    $('#new_school').removeAttr("required");
}); 
</script>