<%= form_tag 'search_applicant', :method=> :get, :class => "form-group form-inline" do %>

<!-- Custom Search -->
	<h3>Custom search</h3>
	<%= label_tag "Search by:" %>
	<%= select_tag :category, options_for_select(Applicant::SEARCH_CATEGORIES, params[:category]),
		:include_blank => "Search Menu" , :class => "form-control" %>
	<%= text_field_tag :search_query, params[:search_query], :class => "form-control" %>
	<%= submit_tag "SEARCH", :name => "custom", :class => "btn btn-primary" %>
<!-- end Custom Search -->

<!-- Date Search -->
	<h3>Search by date:</h3>
	<%= label_tag "Start date:" %>
	&nbsp;
	<div class="form-control">
		<%= select_date Date.today, :prefix => :start_date %>
	</div>
	&nbsp;
	<%= label_tag "End date:" %>
	&nbsp;
	<div class="form-control">
	<%= select_date Date.today, :prefix => :end_date %>
	</div>
	<%= submit_tag "SEARCH", :name => "by_date", :class => "btn btn-primary" %>
<!-- end Date Search -->

<% end %>
