<h2>Assign Interviewer for Applicant <%= @applicant.firstname %></h2>



<div class="container-fluid row">
<div class="col-md-5">
<br /><br />
  <div class="thumbnail col-md-6 col-md-offset-3">
    <% if File.exists?("#{RAILS_ROOT}/public/images/#{@applicant.image_name}") %>
      <%= image_tag @applicant.image_name, :width=>'100%', :height=>'100%',
     :alt=>@applicant.firstname + ' ' + @applicant.lastname,
     :title=> @applicant.firstname + ' ' + @applicant.lastname%>
    <% else %>
      <%= image_tag('404.jpg', :width=>'100%', :height=>"100%") %>
    <% end %>

    <div class="caption">

      <h3><%= @name %></h3>

      <p> <strong><%=@applicant.position.title %></strong> <small><%= @applicant.status %></small>
          <br />
          <email> <%= @applicant.email_address%></email> <br />
          <contact> <%= @applicant.contact %> </contact>
      </p>

      <p> <%= @applicant.bday.strftime("%B %d, %Y") %>
          <address><%= @applicant.address %></address>
      </p>
    </div>
  </div>

</div>

<div class="col-md-6">
	<br />
	<%= form_tag :action => :assign_interviewer do%>
		<p>
			<%= label_tag 'SELECT Department: ' %>
			<%= select_tag :department_id, options_for_select(Department.all.collect {|x| [x.department_name]}), :include_blank => "Select one", :class => "form-control", :value => "", :id => "Department", :onchange => "loadInterviewer();" %>
		</p>
		<p>
			<%= label_tag 'SELECT INTERVIEWER: ' %>
			<%= select_tag :interviewer, nil, :include_blank => "Select department first", :class => "form-control", :value => "", :id => "interviewer", :onchange => "showInfo();" %>
		</p>
		<p>
			<%= submit_tag "Assign", :class => "btn btn-success" %>
		</p>
	<% end %>
	<!-- Interviewer info column -->
	<div class="col-md-12">
		<div class="col-md-6">
			<%= image_tag "", :id => "interviewer_picture", :size => "200x200", :hidden => true %>
		</div>
		<div class="col-md-6">
			<div id = "name"></div>
			<div id = "position_title"></div>
		</div>
	</div>
	<!-- end Interviewer info column -->
</div>

<script type="text/javascript">
	function showInfo(){
		var val = document.getElementById('interviewer');
		var img = document.getElementById("interviewer_picture");
		if(val.value != ""){
			$.ajax({
							url: "<%= applicants_get_info_path %>",
						 type: "GET",
				 dataType: "json",
						 data: { name: val.value },
				 complete: function() {},
				  success: function(data, textStatus, xhr){
								 		img.src = data.info.interviewer.image_name;
								 		$("#name").text("Fullname: "+data.info.interviewer.name);
								 		$("#position_title").text("Position Title: "+data.info.interviewer.position_title);
								 		img.style.display = "block";
				 					},
				    error: function() {
				   					alert("AJAX ERROR"+val.value);
				   				}
			});
		}
	};

	function loadInterviewer(){
		var val = document.getElementById('Department');
		var img = document.getElementById("interviewer_picture");
		var $select = $("#interviewer");
		var el = document.createElement("option");
		$select.empty();
		img.src = "";
		img.style.display = "none";
		if(val.value != ""){
			$.ajax({
							url: "<%= applicants_get_interviewer_path %>",
						 type: "GET",
				 dataType: "json",
						 data: { department_name: val.value },
				 complete: function() {},
				  success: function(data, textStatus, xhr){
									 	
								 		$("#name").text("");
								 		$("#position_title").text("");
								 		el.textContent = "Select one";
								    el.value = "";
								    $select.append(el);
									 	for(var i in data.interviewers){
									 		el = document.createElement("option");
									 		el.textContent = data.interviewers[i].interviewer.name;
									    el.value = data.interviewers[i].interviewer.name;
									    $select.append(el);
									 	};
				 					},
				   error: function() {
				   					alert("AJAX ERROR"+val.value);
				   				}
			});
		}
		else{
			$select.empty();
			el.textContent = "Select Department First";
		  el.value = "";
		  $select.append(el);
		}
	};

</script>