<h1 class="page-header">Applicants Management Dashboard</h1>

<%= link_to 'ADD NEW APPLICANT', new_applicant_path %> |
<%= link_to 'SHOW ALL APPLICANTS', applicants_show_all_path %> |
<%= link_to 'SEARCH APPLICANT', search_applicant_path %>

<div class="row">
  <div id="dashboard">
    <div class="grid-sizer"></div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 dItem">
        <div class="panel panel-primary">
          <div class="panel-heading">Table showing all applicants</div>
          <div class="panel-body">
            <div class="clear"></div>
            <%= datatable %>
            <div class="clear>"></div>
          </div>
        </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 dItem">
        <div class="panel panel-info">
          <div class="panel-heading">Latest Applicant</div>
          <div class="panel-body">
            <div class="row">
              <% if !@latest_applicant.nil? %>
                <div class="col-md-12 col-sm-4 col-xs-6">
                  <% if File.exists?("#{RAILS_ROOT}/public/images/#{@latest_applicant.image_name}") %>
                    <%= image_tag "#{@latest_applicant.image_name}" , :size => "200x200" , :class=>"img-responsive" %>
                  <% else %>
                    <%= image_tag('404.jpg' , :class => "img-responsive") %>
                  <% end %>
                </div>
                <div class="col-md-12 col-sm-8 col-xs-6">
                  <h3 style="display:inline">
                      <%= @latest_applicant.firstname + ' ' +
                          @latest_applicant.lastname %>
                      <h4 class="label label-default" style="display:inline">
                        <%= link_to "Show Info", @latest_applicant %>
                      </h4>
                  </h3>

                  <p>
                    <%= @latest_applicant.position.title %><br />
                    <%= @latest_applicant.email_address %><br />
                    <%= @latest_applicant.contact %><br />
                    <%= @latest_applicant.school.school_name %>
                    <address>
                    <%= @latest_applicant.address %>
                    </address>
                  </p>
                    <div class="clearfix"></div>
                </div>
              <%else%>
                <div class="col-md-12 col-sm-4 col-xs-6">
                  <%= image_tag '/images/new_applicant.png', :class=>"img-responsive"%>
                </div>
                <div class="col-md-12 col-sm-8 col-xs-6">
                  <h3 style="display:inline">
                    There's no applicant
                  </h3>

                  <p>
                    There is nothing to show
                   </p>
                    <div class="clearfix"></div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-9 col-lg-9 dItem">
      <div class="panel panel-primary">
        <div class="panel-heading">Statistics</div>
        <div class="panel-body">
          <div id="stat">
            <div class="grid-sizer-stat"></div>
            <div class="sItem app_count">
              <h1 class="glyphicon glyphicon-home"></h1>
              <h2><%= Applicant.count %></h2>
            </div>
            <div class="sItem"><%= link_to 'testing', show_all_path(:toShow=>'failed'), :method=> :post %></div>
            <div class="sItem">Item</div>
            <div class="sItem">Item</div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<script type="text/javascript">
  $('#datatable').addClass('table table-condensed table-hover')
  $('#dashboard').masonry({
      columnWidth: '.grid-sizer',
      itemSelector: '.dItem',
      percentPosition : true
    });

  $('#stat').masonry({
      columnWidth: '.grid-sizer-stat',
      itemSelector: '.sItem',
      percentPosition : true,
      gutter: 5
    });
</script>

<script type="text/javascript">
  function mason(){
    $('#dashboard').masonry({
      columnWidth: '.grid-sizer',
      itemSelector: '.dItem',
      percentPosition : true
    });
  }
    mason();
  $('#datatable').on('draw.dt', function(){
    setTimeout(mason,1)
  } );
</script>
