
<h1></h1>

<%= form_for(@applicant) do |f| %>

<div class="panel panel-primary">
   <div class="panel-heading"><b>Applicant Details</b></div>
	<table class="table table-hover table-responsive">
	    <tr>
	      <th>Picture</th>
	      <th>Lastname</th>
	      <th>Firstname</th>
	      <th>Middlename</th>
	      <th>Birth Day</th>
	      <th>Contact</th>
	      <th>Email Address</th>
	    </tr>
	    <tr>
	    	<td><img src=<%=@image_data%> width="75", height="75" /></td>
	    	<td><%= @applicant_new.lastname %></td>
	    	<td><%= @applicant_new.firstname %></td>
	    	<td><%= @applicant_new.middlename %></td>
	    	<td><%= @applicant_new.bday %></td>
	    	<td><%= @applicant_new.contact %></td>
	    	<td><%= @applicant_new.email_address %></td>
	    </tr>
	</table>
</div>

<div class="panel panel-danger">
   <div class="panel-heading" style="color:white"><b>List of applicants that matched</b> (Matched infos are in red)</div>
	<table class="table table-hover table-responsive">
		<tr>
	      <th>Picture</th>
	      <th>Lastname</th>
	      <th>Firstname</th>
	      <th>Middlename</th>
	      <th>Birth Day</th>
	      <th>Contact</th>
	      <th>Email Address</th>
	      <th>Renew</th>
	    </tr>
		<% @matched.each do |m| %>
	    	<% db_applicant = Applicant.find(m[0].to_i) %>
		    <tr>
		    	<td><%= image_tag(db_applicant.image_name, :size => "75x75") %></td>
		    	<td <% if m[1] == "true" %>style="color:red"<%end%> ><%= db_applicant.lastname %></td>
		    	<td <% if m[1] == "true" %>style="color:red"<%end%> ><%= db_applicant.firstname %></td>
		    	<td <% if m[1] == "true" %>style="color:red"<%end%> ><%= db_applicant.middlename %></td>
		    	<td <% if m[1] == "true" %>style="color:red"<%end%> ><%= db_applicant.bday %></td>
		    	<td <% if m[3] == "true" %>style="color:red"<%end%> ><%= db_applicant.contact %></td>
		    	<td <% if m[2] == "true" %>style="color:red"<%end%> ><%= db_applicant.email_address %></td>
		    	<td><%= link_to "RENEW", applicants_renew_path(db_applicant.id, :renew => "true"), :class=>"btn btn-success" %></td>
		    </tr>
		<% end %>
	</table>
</div>
<div class="col-md-0 col-md-offset-9">
<%= link_to "Back to Applicants", applicants_show_all_url, :class => "btn btn-default col-md-6" %>
<%= submit_tag 'Consider as NEW', :name=> 'consider', :class => "btn btn-success col-md-6" %>
</div>
<% end %>
