<h1 class="page-header">SEARCH APPLICANT</h3>

<%= render 'search_form' %>


<% if @search.any? %>
	<h3> Search Result </h3>
	<% @search.each do |applicant| %>

		 <% name = applicant.firstname + ' ';
        unless applicant.middlename.blank?
              name += (applicant.middlename.first.upcase + '. ')
        end
      name += applicant.lastname %>
    <div class="panel">
			<div class="media">
			  <div class="media-left" style="width: 10%; height:10%">
			  	<%= link_to applicant do %>
            <% if File.exists?("#{RAILS_ROOT}/public/images/#{applicant.image_name}") %>
              <%= image_tag applicant.image_name, :width=> '100%',
             :alt=>applicant.firstname + ' ' + applicant.lastname,
             :title=> applicant.firstname + ' ' + applicant.lastname,
             :class=> "media-object thumbnail"%>
            <% else %>
              <%= image_tag('404.jpg', :width=>'10%', :height=>"10%", :class=>"media-object thumbnail") %>
            <% end %>
			    <% end %>
			  </div>

			  <div class="media-body">

			    <h3 class="media-heading" style="display:inline">
			    	<%= name %>
			    	<h5 style="display:inline"><span class="label label-default"><%= applicant.status %></span></h5>
			    </h3>
			    <div class="clearfix">&nbsp;</div>
			    <p>
			    <%= applicant.position.title %> <br/>
			    <% if applicant.school.nil? %>
			    	Does not have school yet
			    <% else %>
			    <%= applicant.school.school_name %>
			    <% end %>
			    <br />
				 	<%= link_to 'Show Info', applicant , :class=>"btn btn-primary"%>
			    <%= link_to 'Edit', edit_applicant_path(applicant), :class=>"btn btn-warning" %>
			   <%= link_to 'Remove', applicant, :confirm => 'Are you sure?', :method => :delete , :class=>"btn btn-danger"%>
			   </p>
			  </div>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
	<% end %>
<% elsif !@search_type.blank? %>
No Result
<% end %>

<% if flash[:notice] %>
    <div class="alert">
        <%= flash[:notice] %>
    </div>
<% end %>
