<h1>Showing all Applicants</h1>




<% @applicants.each do |applicant| %>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>



<% end %>


<table>
  <tr>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Middlename</th>
    <th>Bday</th>
    <th>Gender</th>
    <th>Highest school attainment</th>
    <th>Address</th>
    <th>Email address</th>
    <th>Contact</th>
    <th>Lastname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applicants.each do |applicant| %>
  <tr>
    <td><%= applicant.lastname %></td>
    <td><%= applicant.firstname %></td>
    <td><%= applicant.middlename %></td>
    <td><%= applicant.bday %></td>
    <td><%= applicant.gender %></td>
    <td><%= applicant.highest_school_attainment %></td>
    <td><%= applicant.address %></td>
    <td><%= applicant.email_address %></td>
    <td><%= applicant.contact %></td>
    <td><%= applicant.image_name %></td>
    <td><%= link_to 'Show', applicant %></td>
    <td><%= link_to 'Edit', edit_applicant_path(applicant) %></td>
    <td><%= link_to 'Destroy', applicant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
