<h1 class="page-header">Applicant's Information</h1>
<div class="row">

  <div class="col-md-6 col-xs-12">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary ap_info">
          <div class="panel-heading">
            <% if File.exists?("#{RAILS_ROOT}/public/images/#{@applicant.image_name}") %>
              <%= image_tag "#{@applicant.image_name}" , :size => "200x200" , :class=>"img-circle" %>
            <% else %>
              <%= image_tag('404.jpg' , :size => "200x200") %>
            <% end %>
            &nbsp;
          </div>

          <h1 class="page-header text-right"><%= @applicant.lastname %>,
              <%= @applicant.firstname %> &nbsp;
              <%= @applicant.middlename %>
              </h1>
          <div class="clearfix"></div>

          <div class="panel-body">
            <p>  <label>Position applying for:</label>
                                               <%= @applicant.position.title %>   </p>
            <p>  <label>Email Address:</label>  <%= @applicant.email_address %>   </p>
            <p>  <label>Contact Number:</label>       <%= @applicant.contact %>   </p>
            <p>  <label>Birthday: </label>               <%= @applicant.bday %>   </p>
            <p>  <label>School: </label>   <%= @applicant.school.school_name %>   </p>
            <p>  <label>Gender: </label>               <%= @applicant.gender %>   </p>
            <p>  <label>Highest School Attainment: </label>
                                    <%= @applicant.highest_school_attainment %>   </p>
            <p>  <label>Address: </label>
                                      <address><%= @applicant.address %></address></p>
          </div>
        </div>
        <% if flash[:notice] %>
          <div class="alert">
              <%= flash[:notice] %>
          </div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xs-12">

    <div class="col-md-12">
      <div class="row">
          <div class="panel panel-primary">
            <div class="panel-heading">Add Exam</div>
              <div class="panel-body">
                <% if @applicant.skipped_exam == 1 %>
                  <h3>Disabled</h3>
                <% else %>
                  <%if @applicant.position.exams.count == 0%>
                    There's no existing exam for this position.
                  <%else%>
                    <% if @exam_list.count > 0%>
                      <%= form_tag assign_grade_path(@applicant) do%>
                      <div class="col-md-12">
                        <div class="col-md-8">
                        <%= select_tag 'exam', options_from_collection_for_select(@exam_list, 'id', 'title'), :class => 'form-control'%>
                        </div>
                        <%= submit_tag 'add exam', :class => 'btn btn-success col-md-3'%>
                        </div>
                      <% end %>
                    <%else%>
                      ALL exams for <%= @applicant.position.title %> were taken
                    <% end %>
                  <%end%>
                <% end %>
              </div>
          </div>
      </div>


    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">Exam List</div>
            <div class="panel-body">
              <% if @applicant.skipped_exam == 1%>
                <h3>This Applicant skipped the exams.</h3>
              <% elsif @applicant.consider == 1 %>
                <h3>This Applicant failed the exam but considered for interview.</h3>
              <% else %>
                <table id="grade_table" class="table table-default table-responsive table-bordered">
                  <thead>
                    <th>Exam Title</th>
                    <th>Score</th>
                    <th>Passing Score</th>
                    <th>Highest Score</th>
                    <th>Remarks</th>
                    <th></th>
                  </thead>
                  <%@total=0%>
                  <%@exams = @applicant.exams%>
                  <%@exams.each do |exam|%>
                  <tr>
                    <td rowspan="2"><%= exam.title %></td>
                    <% grade = exam.grades.find_by_applicant_id(@applicant) %>
                    <%@total=@total+grade.score.to_i%>
                    <td><%= grade.score %></td>
                    <td><%= exam.passing_score %></td>
                    <td><%= exam.total_score %></td>
                    <td><%= grade.remarks %></td>
                    <% if @applicant.status == 'Failed' %>
                      <td rowspan="2">
                        <% if !grade.score.blank? && grade.score.to_i < exam.passing_score.to_i %>
                          Failed
                        <% end %>
                      </td>
                    <% else %>
                    <td rowspan="2"><%= link_to  'Grade', '#', 'data-toggle' => "modal",
         'data-target' => '#gradeModal','data-id' => exam.id,
         'data-action' => update_grade_path(@applicant,exam),
         'data-score' => exam.grades.find_by_applicant_id(@applicant).score,
         'data-remarks' => exam.grades.find_by_applicant_id(@applicant).remarks%></td>
                    <% end %>
                  <tr>
                      <td colspan="4">
                            <%score = grade.score.to_i%>
                            <%total_score = exam.total_score.to_i%>
                            <%passing_score = exam.passing_score.to_i%>
                            <%percentage = score.to_f/total_score.to_f * 100; %>
                            <%passing_width = (passing_score.to_f/total_score.to_f * 100)-percentage%>
                          <div class="progress">
                            <% if grade.score.blank?%>
                              <div class="progress-bar progress-bar-info" style="width:100%">

                              </div>
                            <%elsif score < passing_score %>
                              <div class="progress-bar progress-bar-danger" style= <%="\"width: #{percentage}% \"".html_safe%> >
                                <span class="sr-only">35% Complete (success)</span>
                              </div>
                              <div class="progress-bar progress-bar-warning" style= <%="\"width: #{passing_width}% \"".html_safe%> >
                                <span class="sr-only">35% Complete (success)</span>
                              </div>
                            <%elsif score <= passing_score+passing_score*0.3%>
                              <div class="progress-bar progress-bar-warning" style= <%="\"width: #{percentage}% \"".html_safe%>>
                            <%elsif score > passing_score+passing_score*0.3%>
                              <div class="progress-bar progress-bar-success" style= <%="\"width: #{percentage}% \"".html_safe%>>
                            <% end %>
                          </div>
                      </td>
                    </tr>

                  </tr>

                  <% end %>
                  <tfoot>
                    <tr>
                      <td>Total:</td>
                      <td><%=@total%></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tfoot>
                  <% if @applicant.status == 'Failed' %>
                    <h3>This Applicant failed the exam.</h3>
                  <% end %>
                </table>
              <% end %>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">Options</div>
            <div class="panel-body">

              <%= form_tag @applicant do %>

                <% if !@applicant.exams.any? && @applicant.skipped_exam == 0 %>
                    <%= submit_tag 'Proceed to Interview', :name => 'bypass_all', :class => 'btn btn-primary' %>
                <% elsif (@applicant.exams.any? && !@taken_all_exam) %>
                    <%= submit_tag 'Skip Exams', :name => 'bypass_exams', :class => 'btn btn-primary' %>
                <% end %>

                <% if (@taken_all_exam && @applicant.exams.any?) || @applicant.skipped_exam == 1 %>
                  <% if @applicant.status == 'Failed' && @applicant.consider == 0 %>
                    <%= submit_tag 'Consider for Interview', :name => 'consider_interview', :class => 'btn btn-primary' %>
                  <% elsif @applicant.interviewers.blank? %>
                    <%= link_to 'Assign Interviewer', applicants_assign_interviewer_path(@applicant), :class=>"btn btn-primary"%>
                  <% else %>
                    <%= link_to 'Reassign Interviewer', applicants_assign_interviewer_path(@applicant), :class=>"btn btn-warning"%>
                    <% if @applicant.schedules.any? %>
                      <% lblSched = 'Assign Interview Schedule' %>
                      <% color = 'btn btn-primary'%>
                    <% else %>
                      <% lblSched = 'Reassign Interview Schedule' %>
                      <% color = 'btn btn-warning'%>
                    <% end %>
                    <%= link_to lblSched, schedules_new_path(@applicant), :class => color %>
                  <% end %>
                <% end %>
              <% end %>
              <span class="clearfix"></span>
            </div>
        </div>
      </div>
      </div>
  </div>
</div>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Remove', @applicant, :confirm => 'Are you sure?', :method => :delete, :action => :destroy %> |
<%= link_to 'Okay', applicants_url %>



<%if Grade.count > 0%>
<div class="modal fade" id="gradeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <%unless @edit_error %>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% end %>
        <h4 class="modal-title" id="myModalLabel">Grade</h4>
      </div>

      <div class="modal-body">
        <% unless @edit_grade %>
          <% @edit_grade = Grade.first%>
        <% end %>

        <% if @edit_grade.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h4>Grade can't be saved:</h4>

            <ul>
              <% @edit_grade.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_for(@edit_grade, :html=> {:id=>"edit_form", :class=>"form-horizontal"}, :method=>:post) do |f| %>
        <div class="field form-group">
          <%= f.label :score, :class=>"control-label col-md-3"%>
          <div class="col-md-9">
            <%= f.text_field :score, :id=>"inputScore", :class=>"form-control" %>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :remarks, :class=>"control-label col-md-3"%>
          <div class="col-md-9">
            <%= f.text_field :remarks, :id=>"inputRemarks", :class=>"form-control" %>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <%if @edit_error %>
        <%= link_to "Back", @applicant, :class=>"btn btn-default"%>
        <%else%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%end%>
        <%= f.submit :class=>"btn btn-primary" %><%end%>
      </div>

    </div>  <!-- end of modal content -->
  </div> <!-- end of modal-dialog -->
</div> <!-- end of modal -->



<% if @edit_error %>
  <script type="text/javascript">
    $(window).load(function(){
        $('#gradeModal').modal('show');
    });
  </script>
<% end %>


<script type="text/javascript">
  var data_id = 0
  var data_action = "";

  $(document).on('click', 'a', function(event, ui) {
      data_id = $(this).data('id');
      data_action = $(this).data('action')
      data_score = $(this).data('score')
      data_remarks = $(this).data('remarks')
  });


  $('#gradeModal').on('shown.bs.modal', function () {
    document.getElementById("edit_form").action = data_action
    document.getElementById("inputScore").value = !data_score? '':data_score
    document.getElementById("inputRemarks").value = !data_remarks? '':data_remarks
  })


  <% if @edit_error %>
    $('#gradeModal').modal({
      backdrop: 'static',
      keyboard: false
    })

    $('#gradeModal').on('hide.bs.modal', function (e) {

    })
  <% end %>

</script>
<% end %>
