<h1 class="page-header">Showing all Applicants</h1>
<h3> FILTER: </h3>
<%= form_tag applicants_show_all_path , :class => "form-group form-inline col-md-6" do %>
    <%= radio_button_tag 'toShow', "all", (@toShow.nil? || @toShow == 'all') %>
    <%= label_tag "ALL", nil,  :class => "form-label" %>
    <%= radio_button_tag 'toShow', "pending", (@toShow == 'pending') %>
    <%= label_tag "PENDING", nil,  :class => "form-label" %>
    <%= radio_button_tag 'toShow', "hired", (@toShow == 'hired') %>
    <%= label_tag "HIRED", nil,  :class => "form-label" %>
    <%= radio_button_tag 'toShow', "failed", (@toShow == 'failed') %>
    <%= label_tag "FAILED", nil,  :class => "form-label" %>
    <%= radio_button_tag 'toShow', "on-interview", (@toShow == 'on-interview') %>
    <%= label_tag "ON-INTERVIEW", nil,  :class => "form-label" %>
    <%= submit_tag "Proceed", :class => "btn btn-success"%>
<% end %>

<br />
<div class="clearfix"></div>

<div class="container-fluid">
  <div class="row masonry">
  <% @applicants.each do |applicant| %>

    <% name = applicant.firstname + ' ';
        unless applicant.middlename.blank?
              name += (applicant.middlename.first.upcase + '. ')
        end
      name += applicant.lastname %>

        <div class="item">
          <div class="thumbnail">
            <% if File.exists?("#{RAILS_ROOT}/public/images/#{applicant.image_name}") %>
              <%= image_tag applicant.image_name, :width=>'100%', :height=>'100%',
             :alt=>applicant.firstname + ' ' + applicant.lastname,
             :title=> applicant.firstname + ' ' + applicant.lastname%>
            <% else %>
              <%= image_tag('404.jpg', :width=>'100%', :height=>"100%") %>
            <% end %>

            <div class="caption">

              <h3><%=name%></h3>

              <p> <strong><%=applicant.position.title %></strong> <small><%= applicant.status %></small>
                  <br />
                  <email> <%= applicant.email_address%></email> <br />
                  <contact> <%= applicant.contact %> </contact> <br />
                  <% if !applicant.school.blank? %>
                  <school> <%= applicant.school.school_name %> </school>
                  <% end %>
              </p>
              <% if applicant.interviewers.blank? %>
              <p> <%= applicant.bday.strftime("%B %d, %Y") %>
                  <address><%= applicant.address %></address>
              </p>
              <% end %>
              <p>
              <% if !applicant.interviewers.blank? %>
                Assigned interviewer: <%= applicant.interviewers.first.name %>
                Department: <%= Department.find(applicant.interviewers.first.department_id).department_name %>
              <% end %>
              </p>
              <p class="text-center">
                <%= link_to 'Show Info', applicant , :class=>"btn btn-primary"%>
                <%= link_to 'Edit', edit_applicant_path(applicant), :class=>"btn btn-warning" %>
                <%= link_to 'Remove', applicant, :confirm => 'Are you sure?', :method => :delete , :class=>"btn btn-danger"%>
                <p></p>
              </p>
            </div>
          </div>
        </div>
  <% end %>
  </div>
</div>
