<h1> hello World</h1>


<h1>Listing applicants</h1>

<table>
  <tr>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Middlename</th>
    <th>Bday</th>
    <th>Gender</th>
    <th>Highest school attainment</th>
    <th>Address</th>
    <th>Email address</th>
    <th>Contact</th>
    <th>Lastname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applicants.each do |applicant| %>
  <tr>
    <td><%= applicant.lastname %></td>
    <td><%= applicant.firstname %></td>
    <td><%= applicant.middlename %></td>
    <td><%= applicant.bday %></td>
    <td><%= applicant.gender %></td>
    <td><%= applicant.highest_school_attainment %></td>
    <td><%= applicant.address %></td>
    <td><%= applicant.email_address %></td>
    <td><%= applicant.contact %></td>
    <td><%= applicant.image_name %></td>
    <td><%= link_to 'Show', applicant %></td>
    <td><%= link_to 'Edit', edit_applicant_path(applicant) %></td>
    <td><%= link_to 'Destroy', applicant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />