<h1>Listing interviewers</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @interviewers.each do |interviewer| %>
  <tr>
    <td><%= interviewer.name %></td>
    <td><%= interviewer.position_title %></td>
    <td><%= interviewer.department.department_name %></td>
    <td><%= link_to 'Show', interviewer %></td>
    <td><%= link_to 'Edit', edit_interviewer_path(interviewer) %></td>
    <td><%= link_to 'Remove', interviewer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Back', interviewers_path, :class => "btn btn-primary col-md-2 col-md-offset-10" %>