<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="jumbotron col-md-10">
  <div class="col-md-12">
  <%= f.text_field :applicant_id, :value => @applicant.id, :hidden => true %>
  <%= f.text_field :interviewer_id, :value => @applicant.interviewers.first.id, :hidden => true %>
  <h2>Pick Date</h2>
    <%= f.date_select :sched, :order => [:day, :month, :year], :class => "btn btn-default dropdown-toggle" %>
  </div>
  &nbsp;
  <div class="actions col-md-12">
    <%= f.submit 'schedule', :class => "btn btn-success" %>
    <%= link_to 'Cancel', schedules_path, :class => "btn btn-danger" %>
  </div>
  <p></p>
  </div>
<% end %>
