


<div class="panel panel-success">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <%= form_for(@schedule) do |f| %>

      <% if @schedule.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

          <ul>
          <% @schedule.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.text_field :applicant_id, :value => @applicant.id, :hidden => true %>
      <%= f.text_field :interviewer_id, :value => @applicant.interviewers.first.id, :hidden => true %>
      <h3>Pick Date</h3>
      <p class="input-group">
        <%= f.text_field :sched, :id => "datepicker", :class => "form-control"%>
      </p>
      <p class="input-group">
        <%= text_field_tag :sched_time, nil, :id => "timepicker", :class => "form-control"%>
      </p>
  </div>
    <div class="panel-footer">
      <div class="actions text-right">
        <%= link_to 'Cancel', schedules_path, :class => "btn btn-danger" %>
        <%= f.submit 'schedule', :class => "btn btn-success", :id => "submit" %>
      </div>
    </div>
  <% end %>
</div>



<script>
  $(function() {

    $( "#datepicker" ).datepicker({
        showOn: "button",
        buttonImage: "<%= image_path('calendar_icon.png') %>",
        buttonImageOnly: true,
        buttonText: "Select date",
        dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        dateFormat: "mm-dd-yy",
        minDate: "+0D"
      });

    $( "#timepicker" ).timepicker({
        showOn: "button",
        buttonImage: "<%= image_path('gliphycon-time.png') %>",
        buttonImageOnly: true,
        buttonText: "Select time of interview",
        timeFormat: "HH:mm",
        minTime: '9:00',
        maxTime: '17:00',
        defaultValue: '9:00'
      });
  });
</script>

<script type="text/javascript">
  $('document').ready(function(){
    $('img.ui-datepicker-trigger').wrap('<span class="input-group-addon">');
    var iHeight = $('#datepicker').height();
    $('img.ui-datepicker-trigger').height(iHeight);
  })
</script>

<% if !@applicant.schedule.nil? %>
  <script type="text/javascript">
    <% sched_date = @applicant.schedule.sched.to_date.strftime('%m-%d-%Y') %>
    <% sched_time = @applicant.schedule.sched.to_s.split(' ')[1].split(':') %>
    $('#datepicker').val('<%= sched_date %>');
    $('#timepicker').val("<%= sched_time[0] %>:<%= sched_time[1] %>");
  </script>
<% else %>
  <script type="text/javascript">
    $('#timepicker').val('9:00');
  </script>
<% end %>
