<% if @schedule.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

    <ul>
    <% @schedule.errors.full_messages.each do |msg| %>
      <li><%= simple_format(msg) %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="panel panel-success">
  <div class="panel-heading">INTERVIEWER</div>
  <div class="panel-body">
    
      <table class="table">
        <tr>
          <th>Picture</th>
          <th>Name</th>
          <th>Position</th>
          <th>Department</th>
          <th>Date</th>
          <th>Start Time</th>
          <th>End Time</th> 
          <th></th>
        </tr>

        <% @applicant.interviewers.each do |interviewer| %>
          <%= form_for(@schedule) do |f| %>
            <%= f.text_field :applicant_id, :value => @applicant.id, :hidden => true %>
            <%= f.text_field :interviewer_id, :value => interviewer.id, :hidden => true %>
            <tr>
              <td><%= image_tag interviewer.image_name, :size=>'75x75', :class=>"img-responsive" %></td>
              <td>Name: <%= interviewer.name %></td>
              <td>Department: <%= interviewer.department.department_name %></td>
              <td>Position: <%= interviewer.position_title %></td>
              <td>
                <p class="input-group">
                  <%= f.text_field :sched_start, :class => "datepick form-control", :id => "datepicker_"+interviewer.id.to_s %>
                </p>
              </td>
              <td>
                <p class="input-group">
                  <%= text_field_tag :sched_time_start, nil, :class => "timepick_Start form-control", :id => "timepickerStart_"+interviewer.id.to_s %>
                </p> 
              </td>
              <td>
                <p class="input-group">
                  <%= text_field_tag :sched_time_end, nil, :class => "timepick_End form-control", :id => "timepickerEnd_"+interviewer.id.to_s %>
                </p>
              </td>
              <td class="col-md-1">
                <% if !get_schedule(interviewer, @applicant.id).blank? %>
                  <%= f.submit 'Reschedule', :name=>'new_schedule', :class => "btn btn-success col-md-12", :id => "submit" %>
                  <%= f.submit 'Cancel', :name=>'cancel_schedule', :class => "btn btn-warning col-md-12", :id => "submit" %>
                <% else %>
                  <%= f.submit 'Schedule', :name=>'new_schedule', :class => "btn btn-success col-md-12", :id => "submit" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    <div class="clearfix"></div>
  </div>
</div>

<%= link_to 'Back', schedules_path, :class => "btn btn-primary" %>


<script>
  <% sched_time_start = ['09', '00'] %>
  <% sched_time_end = ['10', '00'] %>
  $('.timepick_Start').val('<%= sched_time_start[0] %>:<%= sched_time_start[1] %>');
  $('.timepick_End').val('<%= sched_time_end[0] %>:<%= sched_time_end[1] %>');

  <% @applicant.interviewers.each do |interviewer| %>
    <% sched = get_schedule(interviewer, @applicant.id) %>
    <% if !sched.blank? %>
      $('#datepicker_'+'<%= sched.interviewer_id %>').val('<%= sched.sched_start.to_date.strftime('%m-%d-%Y') %>');
      <% sched_time_start = sched.sched_start.to_s.split(' ')[1].split(':') %>
      <% if !sched.sched_end.nil? %>
        <% sched_time_end = sched.sched_end.to_s.split(' ')[1].split(':') %>
        $('#timepickerEnd_'+'<%= sched.interviewer_id %>').val('<%= sched_time_end[0] %>:<%= sched_time_end[1] %>');
      <% end %>
      $('#timepickerStart_'+'<%= sched.interviewer_id %>').val('<%= sched_time_start[0] %>:<%= sched_time_start[1] %>');
    <% end %>
  <% end %>
    
  $('.datepick').each(function(){
    $(this).datepicker({
        showOn: "button",
        buttonImage: "<%= image_path('calendar_icon.png') %>",
        buttonImageOnly: true,
        buttonText: "Select date",
        dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        dateFormat: "mm-dd-yy",
        minDate: "+0D"
      });
  });

  $('.timepick_Start, .timepick_End').each(function(){
    $(this).timepicker({
        showOn: "button",
        buttonImage: "<%= image_path('gliphycon-time.png') %>",
        buttonImageOnly: true,
        buttonText: "Select time of interview",
        timeFormat: "HH:mm",
        minTime: "01:00",
        defaultValue: '9:00'
      });
  });

  $('.timepick_Start').on('change', function(){
    id = $(this.id).selector.toString();
    end_time_id = 'timepickerEnd_'+id.split('_')[1];
    end_time = document.getElementById(end_time_id).value;
    start_time = document.getElementById(id).value;
    plusOne = '0'+(parseInt(start_time.split(":")[0])+1).toString();

    if(end_time <= start_time){
      document.getElementById(end_time_id).value = 
      plusOne.slice(-2)+':'+start_time.split(":")[1];
    };
  });

   $('.timepick_End').on('change', function(){
    id = $(this.id).selector.toString();
    start_time_id = 'timepickerStart_'+id.split('_')[1];
    start_time = document.getElementById(start_time_id).value;
    end_time = document.getElementById(id).value;
    minusOne = '0'+(parseInt(end_time.split(":")[0])-1).toString();

    if(end_time <= start_time){
      document.getElementById(start_time_id).value = 
      minusOne.slice(-2)+':'+start_time.split(":")[1];
    };
  });

</script>

<script type="text/javascript">
  $('document').ready(function(){
    $('img.ui-datepicker-trigger').wrap('<span class="input-group-addon">');
    var iHeight = $('.datepick').height();
    $('img.ui-datepicker-trigger').height(iHeight);
  })
</script>
