<%= stylesheet_link_tag 'fullcalendar.css' %>
<%= stylesheet_link_tag 'fullcalendar.print.css', :media=>'print' %>
<%= javascript_include_tag 'moment.js' %>
<%= javascript_include_tag 'fullcalendar.js' %>


<h1>List of schedules</h1>

<table class="table table-hover table-responsive table-striped">
  <tr>
    <th>Applicant</th>
    <th>Picture</th>
    <th>Interviewer</th>
    <th>Picture</th>
    <th>Sched</th>
    <th></th>
    <th></th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= Applicant.find(schedule.applicant_id).firstname %></td>
    <td><%= image_tag(Applicant.find(schedule.applicant_id).image_name, :size => '75x75') %></td>
    <td><%= Interviewer.find(schedule.interviewer_id).name %></td>
    <td><%= image_tag(Interviewer.find(schedule.interviewer_id).image_name, :size => '75x75') %></td>
    <td><%= schedule.sched %></td>
    <td><%= link_to 'Show', schedule %></td>
    <td><%= link_to 'Cancel', schedule, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="col-md-8">
  <div id='calendar'>

    <div id="loading" class="idle">"
          <div><h1><span class="glyphicon glyphicon-refresh" id="refresh"></span>LOADING</h1></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        "left": 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
       buttonIcons: {
        prev: 'left-single-arrow',
        next: 'right-single-arrow',
        prevYear: 'left-double-arrow',
        nextYear: 'right-double-arrow'
      },
      businessHours: {
        start: '8:30',
        end: '17:30',

        dow: [1,2,3,4,5]
      },
      eventLimit: true,
      events: {
        url: '/schedules/getEvent',
        type: 'GET',
        data: {
            // custom_param1: 'something',
            // custom_param2: 'somethingelse'
        },
        beforeSend: function(){
          $('#loading').switchClass( "idleBack", "idle", 1000, "easeInOutQuad" );
        },
        success: function(){
          $('#loading').switchClass( "idle", "idleBack", 3000, "easeInOutQuad" );
        },
        error: function() {
            alert('there was an error while fetching events!');
        },
        // color: 'yellow',   // a non-ajax option
        // textColor: 'black' // a non-ajax option
    }

    });
  });
</script>
