<%=stylesheet_link_tag 'fonts/felix/stylesheet.css'%>


<h1>List of schedules</h1>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#calendar_tab" aria-controls="calendar_tab" role="tab" data-toggle="tab">Calendar</a></li>
    <li role="presentation"><a href="#tabular" aria-controls="tabular" role="tab" data-toggle="tab">Tabular</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="calendar_tab">
        <div class="col-md-12">

          <div class="col-md-6 col-xs-12">
            <div class="row">
            <div id='calendar'>
              <div id="loading" class="idle">"
                    <div><h1><span class="glyphicon glyphicon-refresh" id="refresh"></span>LOADING</h1></div>
              </div>
            </div>
            </div>
          </div>

          <div class="col-md-6 col-xs-12" id="eventDesc">
              <h1 class="text-center"> S&ccedil;h&eacute;d&ugrave;l&eacute; </h1>
              <h3 class="text-center"><span class="title">{Date &amp; Time}</span></h3>
              <div class="col-xs-12 text-center"><img src="/images/new_applicant.png" class="img-responive img-circle" id="applicant_img" style="width: 150px; height: 150px;"></div>
              <h4 class="text-left">Applicant: <span class="applicant"> {Applicant Name} </span></h4>
              <h4 class="text-right">Interviewer: <span class="interviewer"> {Interviewer Name} </span></h4>
              <div class="text-center"><%=link_to "Schedule Infromation", '#', :class=>"btn btn-success", :id=>"link"%></div>
          </div>
          <div class="clearfix"></div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tabular">
      <table class="table table-hover table-responsive table-striped">
        <tr>
          <th>Applicant</th>
          <th>Interviewer</th>
          <th>Schedule</th>
          <th></th>
          <th></th>
        </tr>

      <% @schedules.each do |schedule| %>
        <% @applicant = schedule.applicant%>
        <% name = @applicant.firstname + ' '; %>
        <% name += (@applicant.middlename.first.upcase + '. ') unless @applicant.middlename.blank? %>
        <% name += @applicant.lastname %>

        <tr>
          <td>
            <%= image_tag(Applicant.find(schedule.applicant_id).image_name, :size => '75x75') %>
            <%= name %></td>
          <td>
            <%= image_tag(Interviewer.find(schedule.interviewer_id).image_name, :size => '75x75') %>
            <%= Interviewer.find(schedule.interviewer_id).name %></td>
          <td><b><%= schedule.sched_start.strftime("%B %d, %Y") %></b> ~
                <%= schedule.sched_start.strftime("%I:%M %p") %> :
                <%= schedule.sched_end.strftime("%I:%M %p") %>
          </td>
          <td><%= link_to 'Show', schedule %></td>
          <td><%= link_to 'Cancel', schedule, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        "left": 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
       buttonIcons: {
        prev: 'left-single-arrow',
        next: 'right-single-arrow',
        prevYear: 'left-double-arrow',
        nextYear: 'right-double-arrow'
      },
      businessHours: {
        start: '8:30',
        end: '17:30',

        dow: [1,2,3,4,5]
      },
      eventLimit: true,
      events: {
        url: '/schedules/getEvent',
        type: 'GET',
        data: {
            // custom_param1: 'something',
            // custom_param2: 'somethingelse'
        },
        beforeSend: function(){
            $('#loading').switchClass( "idleBack", "idle", 1000, "easeInOutQuad" );
        },
        success: function(){
            $('#loading').switchClass( "idle", "idleBack", 3000, "easeInOutQuad" );
        },
        error: function() {
            alert('there was an error while fetching events!');
        },
        // color: 'yellow',   // a non-ajax option
        // textColor: 'black' // a non-ajax option
      },
      dayClick: function(date, jsEvent, view) {
          if(view.name == "month"){
            $('#calendar').fullCalendar( 'changeView', 'agendaDay' )
            $('#calendar').fullCalendar( 'gotoDate', date.format())
          }
          // alert('Clicked on: ' + date.format());

          // alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
      },
      eventClick: function(calEvent, jsEvent, view) {
        $('#eventDesc .title').html(moment(calEvent.start).format('MMMM DD, YYYY: hh:MM A')+'-'+moment(calEvent.end).format("hh:MM A"));
        $('#eventDesc .applicant').html(calEvent.applicant);
        $('#eventDesc .interviewer').html(calEvent.interviewer);
        $('#applicant_img').attr('src','/images/' + calEvent.imgsrc);
        $('#eventDesc #link').attr('href', '/schedules/'+calEvent.id)
      }
    })  //fullCalendar
  }); //document.ready
</script>

<script type="text/javascript">
  $('document').ready(function(){
    $('#eventDesc').height($('#calendar').height());
  });


</script>
