<h1 class="page-header">Schedules Per Interviewer</h1>
<div class="col-md-12" id="search_bar">
  <%=form_tag '', :method=>:get , :class=>"form-horizontal" do %>
    <label for='query' class="col-xs-3 col-sm-4 control-label"> Search Interviewer: </label>
    <div class="col-xs-7 col-sm-6 col-md-4">
      <div class="row">
        <%= text_field_tag :query, params[:query], :class=>"form-control"%>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="row">
        <%= submit_tag "Search", :class=>"form-control"%>
      </div>
    </div>
  <% end %>
  <div class="clearfix"></div>
</div>


  <div class'col-md-12'>
  <%if @search %>
  <% if @search.count > 0 %>
      <a name="bookmark"></a>

    <h4>Result:</h4>


    <!-- Floating Applicant Information -->

    <div class="col-md-6 col-xs-12 pull-right text-justify">
      <div class="col-xs-12" id="applicant_right">
        <%interviewer = @search.first%>

        <div class="row">
          <div class="col-md-12  text-left" id="applicant_cover">

          <% if File.exists?("#{RAILS_ROOT}/public/images/#{interviewer.image_name}") %>
            <%= image_tag interviewer.image_name,
           :alt=>interviewer.name,
           :title=>interviewer.name,
           :class=> "img-circle",
           :id => "applicant_image"%>
          <% else %>
            <%= image_tag('404.jpg', :class=>"img-scircle",
              :id=> "applicant_image") %>
          <% end %>

          <% if File.exists?("#{RAILS_ROOT}/public/images/#{interviewer.image_name}") %>
            <%= image_tag interviewer.image_name,
           :alt=>interviewer.name,
           :title=>interviewer.name,
           :class=> "img-responsive img-circle",
           :id => "applicant_image_opaque"%>
          <% else %>
            <%= image_tag('404.jpg', :class=>"img-responsive img-scircle",
              :id=> "applicant_image_opaque") %>
          <% end %>

          </div>
        </div>
        <div class="clearfix"></div>

        <div id="divider" class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
        </div>
        <h2 id="applicant_name"><%=interviewer.name%></h2>

        <div class="col-md-12">
          <div class="row table-responsive">
          <h3> Schedules: </h3>
          <table class="table table-default table-hover table-condensed table-bordered" id="tblSchedule">
          <% if interviewer.schedules.any? %>
            <thead>
            <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Applicant</th>
            </tr>
            </thead>
            <tbody>
            <% interviewer.schedules.each do |sched| %>
            <tr>
            <td>
              <%= sched.sched_start.strftime('%B %d, %Y') %></td>
            <td>
              <%= sched.sched_start.strftime('%H:%m %p') %> -
              <%= sched.sched_end.strftime('%H:%m %p') %>
            </td>

              <%applicant = sched.applicant%>
              <% name = applicant.firstname + ' ';
                unless applicant.middlename.blank?
                      name += (applicant.middlename.first.upcase + '. ')
                end
              name += applicant.lastname %>

            <td><%= name%></td>
            </tr>
            <% end %>
            </tbody>
          <% else %>
          <h4> No Schedule for this Interviewer </h4>
          <% end %>
          </table>
          </div>
        </div>
      </div>
    </div>


    <!--END: Floating Applicant Information -->

    <!-- Results -->

    <div class="text-justify col-md-6" id="result_div" >
      <ul>
      <% @search.each do |interviewer| %>
        <li>
          <div class="img-circle pull-left text-center" id="applicant_head">
              <span><%=interviewer.name.slice(0,1).capitalize%></span>
          </div>


          <% if File.exists?("#{RAILS_ROOT}/public/images/#{interviewer.image_name}") %>
            <%= image_tag interviewer.image_name,
           :class=> "visible-xs hidden-xs",
           :id => "applicant_pic"%>
          <% else %>
            <%= image_tag('404.jpg', :class=>"visible-xs hidden-xse",
              :id=> "applicant_pic") %>
          <% end %>

          <%#image_tag interviewer.image_name, :class=>"visible-xs hidden-xs", :id=>"applicant_pic"%>
        <%= link_to interviewer.name, '#bookmark', :id=>'applicant_link', 'data-id' => interviewer.id ,
          'data-name' => interviewer.name, 'data-image' => interviewer.image_name%>
          <ul>
            <li>
              <description>
                <%= interviewer.position_title %> /
                <%= interviewer.department.department_name %>
              </description>
            </li>
          </ul>
          <div class="clearfix"></div>
        </li>
      <% end %>
      </ul>

    </div>
    <!--END: Results -->


    <!-- Pagination -->
    <div class="col-md-12">
      <%= will_paginate @search %>
    </div>
    <!-- END:  Pagination -->



  <% else %>
    no results found
  <% end %>
  <% end %>
  </div>


<script type="text/javascript">
  var colorThief = new ColorThief();

  $('document').ready(function(){
    $('#result_div > ul > li').each(function(){
      var myImage = $(this).children("#applicant_pic");
      var dominantColor = colorThief.getColor(myImage[0]);

        $(this).children("#applicant_head").css('background',
          'rgb(' +
          dominantColor[0]+',' +
          dominantColor[1]+',' +
          dominantColor[2]+
          ')'
        );

    });
  });

</script>

<script type="text/javascript">


$('#applicant_image').load(function(){
  var myImage = $('#applicant_image');
  var dominantColor = colorThief.getColor(myImage[0]);
  var palette = colorThief.getPalette(myImage[0], 6);
  var counter = 0;

  $('#applicant_cover').css('background',
      'rgb(' +
        dominantColor[0]+',' +
        dominantColor[1]+',' +
        dominantColor[2]+
        ')'
  );


  $('#applicant_right #divider > div').each(function(){
    $(this).css('background',
          'rgb(' +
        palette[counter][0]+',' +
        palette[counter][1]+',' +
        palette[counter][2]+
        ')');
    counter++;
  });

});
</script>


<script type="text/javascript">


  $(document).on('click', '#applicant_link', function(event, ui) {
    var id = $(this).data('id');
    var name = $(this).data('name');
    var img = $(this).data('image');

    $('#applicant_right #applicant_name').html(name)
    $('#applicant_image').attr('src','/images/'+ img)
    $('#applicant_image_opaque').attr('src','/images/'+ img)

    $.ajax({
        url: '/schedules/getSched/interviewer',
        data: {
          interviewer_id : id
        },
        dataType: 'json',
        beforeSend: function(){
          $('#applicant_right #applicant_name').append($('<small>').text('Loading...'));
          $('#tblSchedule').html('');
        },
        success: function(data){

          if (data.length > 0){

          $('#tblSchedule').append($('<thead>')
            .append($('<tr>')
              .append($('<th>').text('Date'))
              .append($('<th>').text('Time'))
              .append($('<th>').text('Applicant'))
              )
          )

          $('#tblSchedule').append($('<tbody>').text(''));

          data.forEach(function(sched){
            var tr = $('<tr>')
              .append($('<td>').text(sched.date))
              .append($('<td>').text(sched.time))
              .append($('<td>').text(sched.applicant));


            $('#tblSchedule tbody').append(tr)
          });
          }
          else{
            $('#tblSchedule').append($('<h4>').text('No schedules found'));
          }

          $('#applicant_right #applicant_name').html(name)
        },
        error: function(a,b,c){
          alert(c)
        }
      })
  });


</script>

