<h1 class="page-header">Schedules Per Applicant</h1>

<div class="col-md-12">
<%=form_tag '', :method=>:get do %>
  <label> Search Applicant: </label>
  <%= text_field_tag :query, params[:query]%>
<% end %>
</div>

  <div class'col-md-12'>
  <% if @search.count > 0 %>
    <%= pluralize(@search.count, 'result') + ' ' + 'found' %>

    <h4>Result:</h4>
    <div class="col-md-6 col-xs-12 pull-right text-justify">
      <div class="col-xs-12">
      <%applicant = @search.first%>
      <% name = applicant.firstname + ' ';
        unless applicant.middlename.blank?
              name += (applicant.middlename.first.upcase + '. ')
        end
      name += applicant.lastname %>

      <div class="col-md-12 row text-center" style="background: #888;">
      <div class="col-md-4 col-xs-7 col-sm-6">
        <% if File.exists?("#{RAILS_ROOT}/public/images/#{applicant.image_name}") %>
          <%= image_tag applicant.image_name,
         :alt=>applicant.firstname + ' ' + applicant.lastname,
         :title=> applicant.firstname + ' ' + applicant.lastname,
         :class=> "img-responsive img-circle"%>
        <% else %>
          <%= image_tag('404.jpg', :class=>"img-responsive img-scircle") %>
        <% end %>

      </div>
      </div>
      <div class="clearfix"></div>
        <h2><%=name%></h2>
      </div>
    </div>

    <div class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>





  <% else %>
    no results found
  <% end %>
  </div>
