<h1 class="page-header">Schedules Per Applicant</h1>

<div class="col-md-12">
<%=form_tag '', :method=>:get do %>
  <label> Search Applicant: </label>
  <%= text_field_tag :query, params[:query]%>
<% end %>
</div>

  <div class'col-md-12'>
  <%if @search %>
  <% if @search.count > 0 %>
      <a name="bookmark"></a>

    <h4>Result:</h4>

    <div class="col-md-6 col-xs-12 pull-right text-justify">
      <div class="col-xs-12" id="applicant_right">
        <%applicant = @search.first%>
        <% name = applicant.firstname + ' ';
          unless applicant.middlename.blank?
                name += (applicant.middlename.first.upcase + '. ')
          end
        name += applicant.lastname %>
        <div class="row">
          <div class="col-md-12  text-left" id="applicant_cover">

          <% if File.exists?("#{RAILS_ROOT}/public/images/#{applicant.image_name}") %>
            <%= image_tag applicant.image_name,
           :alt=>applicant.firstname + ' ' + applicant.lastname,
           :title=> applicant.firstname + ' ' + applicant.lastname,
           :class=> "img-circle",
           :id => "applicant_image"%>
          <% else %>
            <%= image_tag('404.jpg', :class=>"img-scircle",
              :id=> "applicant_image") %>
          <% end %>

          <% if File.exists?("#{RAILS_ROOT}/public/images/#{applicant.image_name}") %>
            <%= image_tag applicant.image_name,
           :alt=>applicant.firstname + ' ' + applicant.lastname,
           :title=> applicant.firstname + ' ' + applicant.lastname,
           :class=> "img-responsive img-circle",
           :id => "applicant_image_opaque"%>
          <% else %>
            <%= image_tag('404.jpg', :class=>"img-responsive img-scircle",
              :id=> "applicant_image_opaque") %>
          <% end %>

          </div>
        </div>
        <div class="clearfix"></div>

        <div id="divider" class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
        </div>
        <h2 id="applicant_name"><%=name%></h2>

        <div class="col-md-12">

        </div>
      </div>
    </div>

    <div class="text-justify">
      <ul>
      <% @search.each do |applicant| %>
        <% name = applicant.firstname + ' ';
          unless applicant.middlename.blank?
                name += (applicant.middlename.first.upcase + '. ')
          end
        name += applicant.lastname %>

        <li> <%= link_to name, '#bookmark', :id=>'applicant_link', 'data-id' => applicant.id ,
          'data-name' => name, 'data-image' => applicant.image_name%>
          <ul>
            <li>
              <description>
                <%= applicant.position.title %>
              </description>
            </li>
          </ul>
        </li>
      <% end %>
      </ul>

    </div>

    <div class="col-md-12">
      <%= will_paginate @search %>
    </div>




  <% else %>
    no results found
  <% end %>
  <% end %>
  </div>


<script type="text/javascript">
var colorThief = new ColorThief();


$('#applicant_image').load(function(){
  var myImage = $('#applicant_image');
  var dominantColor = colorThief.getColor(myImage[0]);
  var palette = colorThief.getPalette(myImage[0], 6);
  var counter = 0;

  $('#applicant_cover').css('background',
      'rgb(' +
        dominantColor[0]+',' +
        dominantColor[1]+',' +
        dominantColor[2]+
        ')'
  );


  $('#applicant_right #divider > div').each(function(){
    $(this).css('background',
          'rgb(' +
        palette[counter][0]+',' +
        palette[counter][1]+',' +
        palette[counter][2]+
        ')');
    counter++;
  });

});
</script>


<script type="text/javascript">


  $(document).on('click', '#applicant_link', function(event, ui) {
    var id = $(this).data('id');
    var name = $(this).data('name');
    var img = $(this).data('image');

    $('#applicant_right #applicant_name').html(name)
    $('#applicant_image').attr('src','/images/'+ img)
    $('#applicant_image_opaque').attr('src','/images/'+ img)

    $.ajax({
        url: '#',
        success: function(){

        }
      })
  });


</script>
