<% if @schedule.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

    <ul>
    <% @schedule.errors.full_messages.each do |msg| %>
      <li><%= simple_format(msg) %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<h1 class="page-header">Schedule Info</h1>
<% if flash[:notice] %>
	<div class="col-md-12">
		<div class="alert alert-success alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4> <%= notice %> </h4>
		</div>
	</div>
<% end %>
<div class="col-md-12">
	<div class="col-md-6">
		<h3 class="col-md-12">APPLICANT</h3>
		<div class="col-md-4">
			<%= image_tag @schedule.applicant.image_name, :size => "150x150" %>
		</div>
		<div class="col-md-8">
			<h4 class="col-md-12">Name:  <%= @schedule.applicant.firstname %> </h4>
			<h4 class="col-md-12">Position applying:<blockquote><%= @schedule.applicant.position.title %></blockquote> </h4>
			<h4 class="col-md-12">School:<blockquote><%= @schedule.applicant.school.school_name %></blockquote> </h4>
		</div>
	</div>
	<div class="col-md-6">
		<h3 class="col-md-12">INTERVIEWER</h3>
		<div class="col-md-4">
			<%= image_tag @schedule.interviewer.image_name, :size => "150x150" %>
		</div>
		<div class="col-md-8">
			<h4 class="col-md-12">Name: <%= @schedule.interviewer.name %> </h4>
			<h4 class="col-md-12">Department:<blockquote><%= @schedule.interviewer.department.department_name %></blockquote></h4>
			<h4 class="col-md-12">Position:<blockquote><%= @schedule.interviewer.position_title %></blockquote></h4>
		</div>
	</div>
</div>
<div class="page-header"><h3>Schedule</h3></div>
<div class="col-md-6"><h4>Date:  <b><%= @schedule.sched_start.to_date.strftime('%B %d, %Y') %></b></h4></div>
<div class="col-md-6">
	<h4>Start Time:  <b><%= @sched_time_start %></b></h4>
	<h4>End Time:&nbsp;&nbsp;<b><%= @sched_time_end %></b></h4>
</div>
<div class="col-md-6"><%=  %></div>
<div class="page-header">&nbsp;</div>
	<div class="col-md-12">
		<% if @schedule.grade.blank? %>
			<% schedule_count = @schedule.applicant.schedules.where("NOT interviewer_id = ? AND grade IS NULL", @schedule.interviewer_id) %>
			<%= form_tag interviewer_grade_decision_path(@schedule) do %>
				<div class="col-md-6">
					Remarks:
					<%= text_area_tag :remarks,nil, :size=>'80x3' %>
				</div>
				<div class="col-md-6">
					<div class="col-md-12">&nbsp;</div>
					<% if schedule_count.count == 0 && 
						(@schedule.applicant.interviewers.count == @schedule.applicant.schedules.count) %>
						<%= submit_tag "Passed", :name=>"trigger",
							:title=>"Passed all interview",
							:class => "btn btn-success" %>
						<%= submit_tag "Failed", :name=>"trigger",
							:title=>"Failed the interview",
							:class => "btn btn-success" %>
					<% else %>
						<%= submit_tag "Passed-Continue", :name=>"trigger",
							:title=>"Interview passed and continue to other interview",
							:class => "btn btn-success" %>
						<%= submit_tag "Failed-Continue", :name=>"trigger",
							:title=>"Interview Failed but continue to other Intreview",
							:class => "btn btn-success" %>
						<%= submit_tag "For Hiring", :name=>"trigger",
							:title=>"Interview passed and Bypass all pending interview mark as For hiring",
							:class => "btn btn-success" %>
						<%= submit_tag "Failed-Stop", :name=>"trigger",
							:title=>"Interview failed but bypass all pending interview and mark as For hiring",
							:class => "btn btn-success" %>	
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
	&nbsp;
	<div class="col-md-12">
		<div class="col-md-2">
			<%= link_to 'Back to Applicant', @schedule.applicant, :class => "btn btn-success col-md-12" %>
		</div>
		<div class="col-md-2">
			<%= link_to 'Go to Schedules', schedules_url, :class => "btn btn-success col-md-12" %>
		</div>
	</div>
