<p id="notice"><%= notice %></p>

<p>
  <b>Applicant:</b>
  <%= @schedule.applicant_id %>
</p>

<p>
  <b>Interviewer:</b>
  <%= @schedule.interviewer_id %>
</p>

<p>
  <b>Sched:</b>
  <%= @schedule.sched %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
