<h1 class="page-header" style="margin-bottom: 0;">Admin Dashboard </h1>

<div class="col-md-12">
  <div class="row" id="applicant_stat">
    <div class="col-md-8">

      <div class="row">
        <div class="col-xs-12 text-center">
          <h4>Out of <%= @applicants.count%> Applicants</h4>
        </div>
      </div>

      <br />

      <div class="row" id="circliful">
        <div class="col-xs-6 col-sm-4">
          <div id="pending" data-dimension="250" data-text=<%= @pending.count%>
            data-info="Pending" data-width="15" data-fontsize="38"
            data-percent="100" data-fgcolor="#1073C9"
            data-total=<%= @applicants.count %> data-part=<%=@pending.count%>
            data-icon="long-arrow-up" data-icon-size="28"
            data-icon-color="#fff">
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div id="hired" data-dimension="250" data-text=<%= @hired.count%>
            data-info="Hired" data-width="15" data-fontsize="38"
            data-percent="100" data-fgcolor="#6AC910"
            data-total=<%= @applicants.count%> data-part=<%=@hired.count%>
            data-icon="long-arrow-up" data-icon-size="28"
            data-icon-color="#fff">
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div id="failed" data-dimension="250" data-text=<%= @failed.count%>
            data-info="Failed the Exams" data-width="15" data-fontsize="38"
            data-percent="100" data-fgcolor="#C91010"
            data-total=<%= @applicants.count%> data-part=<%= @failed.count%>
            data-icon="long-arrow-up" data-icon-size="28"
            data-icon-color="#fff">
          </div>
        </div>
      </div>


    </div>

    <div class="col-md-4" style="padding: 30px;">
      <%= column_chart Applicant.where(["date(created_at) BETWEEN ? AND ?", Date.today - 1.week, Date.today]).group("date(created_at)").count,
        library: {
          chart:{backgroundColor: "#efe"},
          colors: ['green'],
          title:{text:"Number of Applicants last 7 days"} },
          xAxis: {title: {text:"Date"}},
          yAxis: {title: {text:"Number of Applicants"}}, %>

        <%= yield :charts_js %>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          Positions
        </div>
        <div class="panel-body">
          <div class="row table-responsive">
          <table class="table table-default table-hovered">
          <tr>
            <th> Positions</th>
            <th> </th>
          </tr>

          <% @positions.each do |position| %>
            <tr>
              <td><%= position.title %></td>
              <td><%= link_to 'Show Exams', position %> </td>
            </tr>
          <% end %>
          </table>
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to 'Go to Position\'s maintenance page', positions_url %>
        </div>
    </div>
  </div>

  <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          Latest Activity
        </div>
        <div class="panel-body">
          <div class="row table-responsive">
          <table class="table table-default table-hovered">
          <tr>
            <th>Date</th>
            <th>Log</th>
          </tr>

          <% @logs.each do |log| %>
            <tr>
              <% Time.zone = "Asia/Manila" %>
              <td><%= log.created_at.strftime('%B %d, %Y - %H:%M:%S %p') %></td>
              <td><%= log.log %></td>
            </tr>
          <% end %>
          </table>
          </div>
        </div>

        <div class="panel-footer">
          <%= link_to "Show All Logs", admin_logs_path(session[:admin_id]) %>
        </div>
      </div>
  </div>
</div>
<div class="col-md-12">

</div>

<% if session[:logged] %>
  <script type="text/javascript">
    var admin_name = <%= "'" + @admin.name + "'"%>
    $.smkAlert(
      {
        text:"Welcome " + admin_name,
        type:'info'
      }
    );
  </script>
<% end %>
<%  session[:logged] = false%>


<script type="text/javascript">
$( document ).ready(function() {
  var width = $('#circliful').width()/3 -20;

  $('#pending').attr('data-dimension', width);
  $('#hired').attr('data-dimension', width);
  $('#failed').attr('data-dimension', width);


  $('#pending').circliful();
  $('#hired').circliful();
  $('#failed').circliful();


});
</script>
