<%= form_for(@new_exam, :html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @new_exam.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4>This examination can't be saved:</h4>

      <ul>
        <% @new_exam.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title, "New Examination Title:", :class=>"control-label col-md-5 col-sm-4 col-xs-5"%>
    <div class="col-md-7 col-sm-7 col-xs-7">
      <%= f.text_field :title, :class=>"form-control"%>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :total_score, "Total Score:", :class=>"control-label col-md-5 col-sm-4 col-xs-5"%>
    <div class="col-md-7 col-sm-7 col-xs-7">
      <%= f.text_field :total_score, :class=>"form-control", :type=>"number"%>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :passing_score, "Passing Score:", :class=>"control-label col-md-5 col-sm-4 col-xs-5"%>
    <div class="col-md-7 col-sm-7 col-xs-7">
      <%= f.text_field :passing_score, :class=>"form-control", :type=> "number"%>
    </div>
  </div>


   <div class="field form-group">
    <div class="actions col-md-4 col-md-offset-5
        col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-5">
      <%= f.submit "Add", :class=>"btn btn-success col-md-12"%>
    </div>
  </div>

<% end %>
