<h1 class="page-header">Showing all Examinations</h1>

<div class="col-md-6">
  <table class="table table-hover table-responsive">
    <tr>
      <th> Exam Title </th>
      <th> Passing Score </th>
      <th> Total Score </th>
      <th></th>
      <th></th>
    </tr>

  <% @exams.each do |exam| %>
    <% if session['updated'] == exam %>
      <%session['updated'] = nil%>
      <tr class="success">
    <% else %>
      <tr>
    <% end %>
      <td><%= exam.title %></td>
      <td><%= exam.passing_score %></td>
      <td><%= exam.total_score %></td>
      <td><%= link_to  'Edit', '#', 'data-toggle' => "modal",
       'data-target' => '#myModal','data-id' => exam.id,
       'data-action' => '/exams/' + exam.id.to_s,
       'data-name' => exam.title,
       'data-pscore' => exam.passing_score,
       'data-tscore' => exam.total_score %></td>
      <td><%= link_to 'Remove', exam, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <%= paginate @exams %>
</div>

<!-- right side -->
<div class="col-md-6">

  <% if notice%>

  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3> <%= notice %> </h3>
  </div>

  <% end %>



  <h1 class="text-left">Add</h1>
    <%= render 'new_exam' %>
  <h1 class="text-justify">Edit</h1>
    <p> Just click the "edit" link besides the position you want to update.</p>
  <h1 class="text-justify">Delete</h1>
    <p> Like in updating, just click the "remove: link besides the position you want to remove.</p>
</div>






<div class="clearfix"></div>

<% if  Exam.any? %>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <%unless @edit_error %>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <% end %>
          <h4 class="modal-title" id="myModalLabel">Edit Examination</h4>
        </div>


        <div class="modal-body">
          <% unless @edit_exam %>
            <% puts "wahahahahhahahhaa" %>
            <% @edit_exam = Exam.last%>
          <% end %>
            <% puts @edit_exam.title %>

          <% if @edit_exam.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <h4>Position "<%= @edit_exam.title %>" can't be saved:</h4>

              <ul>
                <% @edit_exam.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= form_for(@edit_exam, :html=> {:id=>"edit_form", :class=>"form-horizontal"}) do |f| %>

          <div class="field form-group">
            <%= f.label :title, "New Examination Title:", :class=>"control-label col-md-5 col-sm-4 col-xs-5"%>
            <div class="col-md-7 col-sm-7 col-xs-7">
              <%= f.text_field :title, :class=>"form-control exam_title", :id=>'myInput'%>
            </div>
          </div>


          <div class="field form-group">
            <%= f.label :total_score, "Total Score:", :class=>"control-label col-md-5 col-sm-4 col-xs-5"%>
            <div class="col-md-7 col-sm-7 col-xs-7">
              <%= f.text_field :total_score, :class=>"form-control exam_tScore", :type=>"number", :min=>1, :id=>'myInput'%>
            </div>
          </div>

          <div class="field form-group">
            <%= f.label :passing_score, "Passing Score:", :class=>"control-label col-md-5 col-sm-4 col-xs-5"%>
            <div class="col-md-7 col-sm-7 col-xs-7">
              <%= f.text_field :passing_score, :class=>"form-control exam_pScore", :type=> "number", :min=>1, :id=>'myInput'%>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <%if @edit_error %>
          <%= link_to "Back", exams_path, :class=>"btn btn-default"%>
          <%else%>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%end%>
          <%= f.submit :class=>"btn btn-primary" %> <%end%> <!-- end of form -->
        </div>

      </div>  <!-- end of modal content -->
    </div> <!-- end of modal-dialog -->
  </div> <!-- end of modal -->
<% end %>
<!-- Scripts for modal -->
<% if @edit_error %>
  <script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
  </script>
<% end %>


<script type="text/javascript">
  var data_id = 0;
  var data_action = "";
  var data_pScore = 0;
  var data_tScore = 0;

  $(document).on('click', 'a', function(event, ui) {
      data_id = $(this).data('id');
      data_action = $(this).data('action');
      data_title = $(this).data('name');
      data_tScore = $(this).data('tscore');
      data_pScore = $(this).data('pscore');
  });


  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
    document.getElementById("edit_form").action = data_action
    // document.getElementById("myInput").value = data_title
    $('.exam_title').val(data_title)
    $('.exam_pScore').val(data_pScore)
    $('.exam_tScore').val(data_tScore)
  })


  <% if @edit_error %>
    $('#myModal').modal({
      backdrop: 'static',
      keyboard: false
    })

    $('#myModal').on('hide.bs.modal', function (e) {

    })
  <% end %>

</script>
