
<h2><%= link_to 'HOME', index_url %></h2>
<h2>Applicants</h2>
  <ul>
    <li><%=link_to "Manage Applicants", applicants_path%></li>
    <li><%=link_to "Add new Applicant", new_applicant_path%></li>
    <li><%=link_to "Search Applicant", search_applicant_path%></li>
  </ul>

<h2>Maintenance</h2>
  <ul>
    <li><%= link_to "Position", positions_path %></li>
    <li><%= link_to "Exams", exams_path %></li>
  </ul>
