<div class="row">
  <div class="col-md-12" id="admin_pic" data-color='red' data-image=<%= "\"/images/#{Admin.find(session[:admin_id]).image_name}\"".html_safe %> >
    <div class="row text-center">
      <span class="text-center">

        <%@image_name = Admin.find(session[:admin_id]).image_name%>

        <% if File.exists?("#{RAILS_ROOT}/public/images/#{@image_name}") %>
          <%= image_tag "#{@image_name}" , :size => "100x100" , :class=>"img-circle" %>
        <% else %>
          <script type="text/javascript">
            $('#admin_pic').attr('data-image', '/images/404.jpg');
          </script>
          <%= image_tag('404.jpg' , :size => "100x100", :class=>"img-circle") %>
        <% end %>

        <h3><%= Admin.find(session[:admin_id]).name%></h3>
        <%= link_to "Edit profile", edit_admin_path(session[:admin_id]) %><br/>
        <%= link_to 'LOGOUT',logout_path, :method=>:delete, :id=>"logout_button"%>
      </span>
    </div>
  </div>



  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">

    <div class="panel panel-success">
      <%= link_to index_path do%>
        <div class="panel-heading" role='tab'>
            <h4 class="panel-title">
              Dashboard
            </h4>
        </div>
      <% end %>
    </div>

    <div class="panel panel-success">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
      href="#applicants" aria-expanded="false" aria-controls="applicants">
        <div class="panel-heading btn-success" role="tab" id="applicant">
          <h4 class="panel-title">
            Applicants
          </h4>
        </div>
      </a>
      <div id="applicants" class="panel-collapse collapse" role="tabpanel"
      aria-labelledby="Applicants">
        <div class="list-group">
          <%= link_to applicants_path do%> <li class="list-group-item"> Manage Applicants</li> <% end %>
          <%= link_to new_applicant_path do%> <li class="list-group-item"> Add new Applicant</li> <% end %>
          <%= link_to applicants_show_all_path do%> <li class="list-group-item"> Show all Applicants</li> <% end %>
          <%= link_to search_applicant_path do%> <li class="list-group-item"> Search Applicant</li> <% end %>
        </div>
      </div>
    </div>

    <div class="panel panel-success">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
      href="#interviewers" aria-expanded="false" aria-controls="interviewers">
        <div class="panel-heading btn-success" role="tab" id="interviewer">
          <h4 class="panel-title">
            Interviewer
          </h4>
        </div>
      </a>
      <div id="interviewers" class="panel-collapse collapse" role="tabpanel"
      aria-labelledby="interviewer">
        <div class="list-group">
          <%= link_to interviewers_path do%> <li class="list-group-item"> Manage Interviewers</li> <% end %>
          <%= link_to new_interviewer_path do%> <li class="list-group-item"> Add New Interviewer</li> <% end %>
          <%= link_to interviewers_show_all_path do%> <li class="list-group-item"> Show all interviewers</li> <% end %>
        </div>
      </div>
    </div>

    <div class="panel panel-success">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
      href="#schedules" aria-expanded="false" aria-controls="schedules">
        <div class="panel-heading btn-success" role="tab" id="schedule">
          <h4 class="panel-title">
            Schedule
          </h4>
        </div>
      </a>
      <div id="schedules" class="panel-collapse collapse" role="tabpanel"
      aria-labelledby="schedule">
        <div class="list-group">
          <%= link_to schedules_path do%> <li class="list-group-item"> Show Schedules</li> <% end %>
          <%= link_to applicant_schedules_path do%> <li class="list-group-item"> Per Applicant</li> <% end %>
          <%= link_to interviewer_schedules_path do%> <li class="list-group-item"> Per Interviewer</li> <% end %>
        </div>
      </div>
    </div>

    <div class="panel panel-success">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
      href="#maintenance_" aria-expanded="false" aria-controls="maintenance_">
        <div class="panel-heading btn-success" role="tab" id="maintenance">
          <h4 class="panel-title">
            Maintenance
          </h4>
        </div>
      </a>
      <div id="maintenance_" class="panel-collapse collapse" role="tabpanel"
      aria-labelledby="maintenance">
        <div class="list-group">
          <%= link_to positions_path do%> <li class="list-group-item"> Positions</li> <% end %>
          <%= link_to schools_path do%> <li class="list-group-item"> Schools</li> <% end %>
          <%= link_to exams_path do%> <li class="list-group-item"> Exams</li> <% end %>
          <%= link_to departments_path do%> <li class="list-group-item"> Departments</li> <% end %>
        </div>
      </div>
    </div>


  </div>
</div>


<%= javascript_include_tag 'blur.js' %>


<script type="text/javascript">

  $(function(){
    var image_name = $('#admin_pic').data('image');
    image_name = "url(\'"+image_name+"\')";
    $('#admin_pic').css('background-image', image_name);
    $('#admin_pic').blurjs({
        source: '#admin_pic',     //Background to blur
        radius: 20,          //Blur Radius
        overlay: 'rgba(28,251,50,0.3)',        //Overlay Color, follow CSS3's rgba() syntax
        cache: false,                   //If set to true, blurred image will be cached and used in the future. If image is in cache already, it will be used.
        cacheKeyPrefix: 'blurjs-'
    });
    $('#admin_pic').css('background-position', 'center center');
  });
</script>

