<!DOCTYPE html>
<html>
<head>
  <title>AMSS</title>

  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="ojt project" name="description" />
  <meta content="infomaninc" name="author" />

  <% unless controller.controller_name == 'sessions' &&
  controller.action_name == 'new'%>
  <%= stylesheet_link_tag :all %>
  <% end %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <%= javascript_include_tag 'jquery-ui.min.js' %>
  <%= javascript_include_tag 'bootstrap.js' %>
  <%= javascript_include_tag 'masonry.pkgd.min.js' %>
  <%= javascript_include_tag 'jquery.dataTables.min.js' %>
  <%= javascript_include_tag 'idle.js' %>
  <%= javascript_include_tag 'jquery.foggy.min.js' %>
  <%= javascript_include_tag 'jquery-ui-timepicker-addon.js' %>
  <%# javascript_include_tag 'jquery.tablesorter.js' %>
  <%# javascript_include_tag 'jquery.tablesorter.widgets.js' %>
</head>

<body>

<div class = "container-fluid">

<% if controller.controller_name == 'sessions' &&
  controller.action_name == 'new'%>
  <%= yield %>
<% else %>
  <div class="row">
    <%= render 'layouts/header' %>
  </div>

  <div class="row">
    <div class="col-md-2 col-sm-3 col-lg-2" id="side">

      <%= render 'layouts/side' %>
    </div>

    <div class="col-md-10 col-sm-9 col-lg-10">
       <%= yield %>
    </div>
  </div>
<% end %>
</div>

<div id="data"></div>
</body>


<%if @admin %>
  <div id="backdrop" class="idleBack">
    <div class="jumbotron vertical-center">
      <div class="container">
      <h1> Hey <%= @admin.name %>, </h1>
      <p> It seems that you've been away for a long time. We just want to inform you that you will be logged-out after
          some minutes. Just make some action to get back.
      </p>
      </div>
    </div>
  </div>
<% end %>

<% unless controller.controller_name == 'sessions' &&
  controller.action_name == 'new'%>

  <script type="text/javascript">
  $('document').ready(function() {
    setIdleTimeout(1800000); //1800000 30mins
    setAwayTimeout(36000000); //36000000 1hour
    var count = 0;

    document.onIdle=function(){
          // $('body').foggy({
          //   blurRadius: 2,
          //   opacity: 0.8,
          //   cssFilterSupport: true
          // });
        console.log('idle');
        $('#backdrop').switchClass( "idleBack", "idle", 3000, "easeInOutQuad" );
      }
    document.onAway=function(){
      $.ajax({
        url: "/logout",
        method: 'delete',
        type: 'post',
        success: function(result) {
          location.href= '/'
        }
      })
    }

    document.onBack=function(a,b){
      if(a){
        $('#backdrop').switchClass( "idle", "idleBack", 3000, "easeInOutQuad" );
        // $('body').foggy(false)
      }
      if(b){

      }
    }
  });
  </script>
<% end %>
</html>

<!--
setAwayTimeout(4000);
document.onIdle=function(){
  $("#div_idle").css("opacity","1")};
document.onAway=function();
  $("#div_away").css("opacity","1")};
document.onBack=function(a,b);
  if(a);
  $("#div_idle").css("opacity","0.2")}if(b);
  $("#div_away").css("opacity","0.2")}};
 -->
