<!DOCTYPE html>
<html>
<head>
  <title>AMSS</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>

<body>

<div class = "container-fluid">
  <div class="row">
    <%= render 'layouts/header' %>
  </div>

  <div class="row">
    <div class="col-md-2" id="side">
      <%= render 'layouts/side' %>
    </div>

    <div class="col-md-10">
       <%= yield %>

    </div>
  </div>
</div>


</body>
</html>
